@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
    font-weight: 500 800;
    font-style: normal;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    font-family: Figtree;
    color: var(--gray-950);
    box-shadow: 8px 8px 0px var(--gray-950);
    padding: 1.5rem;
    width: 384px;
    border-radius: 20px;
    border: 1px solid black;
}

.card:hover {
    h1 {
        color: var(--yellow);
    }
}

img.illustration-article {
    border-radius: 10px;
}

.card-content {
    margin-top: 1.5rem;
}

.category {
    background-color: var(--yellow);
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-weight: 900;
}

.published {
    /* rules go here */
    margin-top: 0.75rem;
}

h1 {
    /* check sizes */
    margin-top: 1rem;
    font-size: 1.5rem;

}

p {
    color: var(--gray-500)
}

.author {
    /* rules go here */
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author img {
    /* check sizes */
    margin-right: 0.2rem;
    transform: scale(0.7);
}

.author h2 {
    /* check sizes */
    font-size: 1rem;
}